<section class="image-gallery-container">
    <div class="gallery-scroll gs-left hidden"><span class="gs-symbol-bg"></span></div>
    <ul class="image-gallery">
        <% for(image of images) {%>
            <li>
                <img class="gallery-image" src=<%=image%>>
            </li>
        <%}%>
        </ul>
    <div class="gallery-scroll gs-right hidden"><span class="gs-symbol-bg"></span></div>
</section>