<%- include('partials/header', {title: 'FaithHopeLove - About Us', page: 'about'}) -%>

<div id="content">
    <div class="inner">
        <article class="box post post-excerpt">
            <header>
                <h2>About FaithHopeLove</h2>
                <p>We envision a city where everyone enjoys social connections and resources for their mental,
                    emotional, spiritual, and relational health.</p>
                <p>Our mission is to provide wholistic and caring support for individuals and families in their journey
                    around community integration and wellness. We serve everyone regardless of faith, ethnicity, years
                    in Canada, or other diversity issues.</p>
            </header>
        </article>

        <article class="box post post-excerpt">
            <header>
                <h2>Contact Us</h2>
                <p>We'd love to hear from you!</p>
            </header>
            <form action="/about" method="POST" id="contact-form">
                <div>
                    <label for="name">Name:</label>
                    <input name="name" type="text" required>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input name="email" type="email" required>
                </div>
                <div>
                    <label for="message">Message:</label>
                    <textarea name="message" id="" cols="30" rows="10" required></textarea>
                </div>
                <button>Send</button>
            </form>
        </article>
    </div>
</div>

<%- include('partials/footer') -%>