<%- include('partials/header', {title: 'FaithHopeLove - About Us', page: 'about'}) -%>

<div id="content">
    <div class="inner">
        <h1>about</h1>    
    </div>
</div>

<%- include('partials/footer') -%>