<%- include('partials/header', {title: 'FaithHopeLove - Admin' , page:'admin'}) -%>

    <div>
        <h1>JSON file data</h1>
        <%= jsonData %>
            <a href="./add-json-posts">Add Posts From JSON</a>
    </div>

    <%- include('partials/footer') -%>