<%- include('partials/header', {title: 'FaithHopeLove - Add Post', page:'addPost'}) -%>

<!-- const PostSchema = new MongoServerClosedError.Schema({
    userID: {type: ObjectId, ref: "User", required: true},
    date: {type: Date, default: Date.now},
    likes: {type: Number, default: 0},
    title: {type: String, required: true},
    body: {type: String, required: true}
}) -->

<div id="content">
    <h1>Add post</h1>
    <form action="./add-post" method="POST" enctype="multipart/form-data" id="add-form">
        <div>
            <label for="date">Date: </label>
            <input type="datetime-local" name="date" default="">
        </div>
        <div>
            <label for="title">Title: </label>
            <input type="text" name="title" required>
        </div>
        <div>
            <label for="body">Post: </label>
            <!-- <div class="centered">
				<div class="row row-editor">
					<div class="editor-container">
						<div class="editor"></div>
                    </div>
                </div>
            </div> -->
            <div id="editor"></div>
        </div>
        <div>
            <label for="image">Add an image: </label>
            <input type="file" name="image" id="image">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<!-- <script type="module" src="/assets/js/ckeditor.js"></script> -->
<script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>
<script src="/assets/js/add-post.js"></script>
<%- include('partials/footer') -%>