<%- include('partials/header', {title: "FaithHopeLove - Sign Up", page:'signup'}) -%>
<div id="content">
    <div class="inner">
        <h2 class="box post">Sign Up</h2>
        <form action="/signup" method="POST">
            <div>
                <label for="email-address">Email: </label>
                <input id="email-address" name="email" type="email" autocomplete="email" required>
            </div>
            <div>
                <label for="username">Username: </label>
                <input id="username" name="username" type="text" required>
            </div>
            <div>
                <label for="password">Password: </label>
                <input id="password" name="password" type="password">
            </div>
            <div>
                <label for="confirmPassword">Confirm Password: </label>
                <input id="confirmPassword" name="confirmPassword" type="password">
            </div>
            <button type="submit" id="signup-button">Submit</button>
        </form>
    </div>
</div>

<%- include('partials/footer') -%>